<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grupo8.altafidelidadipo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Riego"
            android:label="@string/title_activity_riego"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Climatizacion"
            android:label="@string/title_activity_climatizacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ventanas"
            android:label="@string/title_activity_ventanas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Iluminacion"
            android:label="@string/title_activity_iluminacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Opciones"
            android:label="@string/title_activity_opciones"></activity>
    </application>

</manifest>
