<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grupo8.altafidelidadipo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZonasRiego"
            android:label="@string/title_activity_zonas_riego" />
        <activity
            android:name=".ZonasClimatizacion"
            android:label="@string/title_activity_zonas_climatizacion" />
        <activity
            android:name=".ZonasVentanas"
            android:label="@string/title_activity_zonas_ventanas" />
        <activity
            android:name=".ZonasIluminacion"
            android:label="@string/title_activity_zonas_iluminacion" />
        <activity android:name=".RiegoTrasero"
            android:label="@string/title_activity_zonas_climatizacion" />
        <activity android:name=".IluminacionSalon"
            android:label="@string/salon" />
    </application>

</manifest>
