<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grupo8.altafidelidadipo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ZonasRiego"
            android:label="@string/title_activity_riego" />

        <activity
            android:name=".ZonasClimatizacion"
            android:label="@string/title_activity_climatizacion" />

        <activity
            android:name=".ZonasVentanas"
            android:label="@string/title_activity_ventanas" />

        <activity
            android:name=".ZonasIluminacion"
            android:label="@string/title_activity_iluminacion" />

        <activity
            android:name=".IluminacionPasillo"
            android:label="@string/pasillo" />

        <activity
            android:name=".IluminacionSalon"
            android:label="@string/salon" />

        <activity
            android:name=".IluminacionCocina"
            android:label="@string/cocina" />

        <activity
            android:name=".IluminacionHabitacion"
            android:label="@string/habitacion" />

        <activity
            android:name=".IluminacionBano"
            android:label="@string/bano" />

        <activity
            android:name=".IluminacionGaraje"
            android:label="@string/garaje" />

        <activity
            android:name=".IluminacionJardin"
            android:label="@string/jardin" />

        <activity
            android:name=".ClimatizacionPasillo"
            android:label="@string/pasillo" />

        <activity
            android:name=".ClimatizacionSalon"
            android:label="@string/salon" />
        <activity
            android:name=".ClimatizacionHabitacion"
            android:label="@string/habitacion" />
        <activity
            android:name=".ClimatizacionBano"
            android:label="@string/bano" />

        <activity
            android:name=".RiegoJTrasero"
            android:label="@string/jTrasero" />
        <activity
            android:name=".RiegoJLateral"
            android:label="@string/jLateral" />
    </application>

</manifest>
